.row [class*="col-"] {
  background-color: #FFC0CB;
  text-align: center;
  border: 1px solid black;
  height: 200px;
  line-height: 200px;
}

.last-row {
  background-color: #FFC0CB;
}
.last-row > .col-6 {
  border: 1px solid black;
  padding: 5px;
}
.last-row .col-6 [class*="col-"] {
  background-color: #F07F80;
  border: 1px solid white;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
